<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Taha Abbasi - Alpha Blog App", "https://github.com/tahaabbasi88/alpha_blog_app", class: "text-white" %></small>
  </div>
</footer>